/* #region ||||| UTILITIES ||||| */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --var-primary: rgb(245, 245, 241);
    --var-font_light: rgb(104, 99, 92);
    --var-font_dark: rgb(53, 53, 53);

}


/* #endregion ||||| UTILITIES ||||| */


/* #region ||||| COMMON RULES ||||| */

body {
    font-family: "Catamaran", sans-serif;
    background-color: var(--var-primary);
    color: var(--var-font_light);
}


#our_team {

    h1 {
        color: var(--var-font_dark)est;
    }

    #description {
        line-height: 2rem;
    }

    .card {
        border: none;
        color: var(--var-font_light);
        font-size: 1.1rem;

        img {
            max-width: 100%;
        }

        .card-footer {
            .name {
                font-family: "Vidaloka", serif;
                font-size: 1.5rem;
                color: var(--var-font_light);
            }
        }
    }
}

/* #endregion ||||| COMMON RULES ||||| */